p{
 background: green;
 border: 1 solid black;
 padding: 20px;
 display: inline;
 /*z-index: -500px;*/
}

span{
    margin: 20px;
    padding: 20px;
   /*margin-top: -40px;
   margin-left: -50px;*/
    background: yellow;
    display: block;
}

.first{
    margin-bottom: 0;
}

.second{
    margin-top: 0;
}

section{
    background: rgb(86, 86, 190);
    width: 500px;
    margin: auto;

}
